*
body{
    background-color: gold;
}
header, nav, main, footer{
    padding: 10px;
    margin: auto;
    border: solid;
}

header{
    width: 750px;
    height: 250px;
    display: flex;
    background-color:white;
    gap: 10px;
}
header #Banner{
    width: 500px;
    height: 95%;
    background-color: violet;
    text-align: center;
}
header #Logo{
    width: 250px;
    height: 95%;
    background-color: blue;
    text-align: center;
}
nav{
    width: 750px;
    height: 50px;
    display: flex;
    background-color: red;
}
main{
    width: 750px;
    height: 400px;
    display: flex;
    background-color:burlywood;
    gap: 10px;
}
main article{
    width: 450px;
    height: 95%;
    background-color: white;
    text-align: center;
    display: flex;
}
main aside{
    width: 300px;
    height: 95%;
    background-color: white;
    text-align: center;
}
footer{
    width: 750px;
    height: 50px;
    display: flex;
    background-color: pink;
}